name = "remix-cloudflare-workers"

workers_dev = true
main = "./build/index.js"
# https://developers.cloudflare.com/workers/platform/compatibility-dates
compatibility_date = "2023-04-20"

[site]
  bucket = "./public"

[build]
  command = "npm run build"

[vars]
TURSO_DB_URL = "libsql://th-mug-store-rtokala14.turso.io"

ITEMS_PER_PAGE=20